<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<title>Insert title here</title>
</head>
<body>
				<h1>office</h1>
				<ul style="list-style-type:disc;">
  				<li class="link-dark text-white"><a href="#">Enquiry form</a></li>
  				<li><a th:href="@{/redirectRegister}">Registration form</a></li>
  				<li><a href="#">course and fee details</a></li>
				</ul>
				
				<h2>Staff</h2>
				<ul style="list-style-type:disc;">
				<li><a th:href="@{/attendence}">Attendance</a></li>
				</ul>
				
</body>
</html>