<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
				
				<h1>Staff Attendance Form</h1>
		<div class="container-fluid">
		<div class="row justify-content-evenly ">
		<div class="col-md-5 ">
		<form action="/clientadd" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Employee Number</label>
    <input type="number" class="form-control" name="empno" id="exampleInputEmail1" aria-describedby="emailHelp" required="required">
  </div>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Employee Name</label>
    <input type="text" class="form-control" name="empname" id="exampleInputEmail1" aria-describedby="emailHelp" required="required">
  </div>
  
  
  <button type="submit" class="btn btn-primary">Register</button>
				
</body>
</html>